@{
    ViewBag.Title = "About";
}


<div>

    <br /><br />
    <img src="~/Content/image.jpg" width="300" height="300" />
    <br /><br />

    <p>
        CENG 311 PROJECT<br />
        Muhammed Köseoğlu
        1105012029
    </p>


</div>